---
layout: default
title: Home
---

<div class="container">
    <h2 class="text-center">Daftar Postingan Blog</h2>

    {% for post in paginator.posts %}
    <div class="post">
        <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
        <p class="">Posted on {{ post.thumb }}</p>
        <p>{{ post.rating }}</p>
    </div>
    <hr>
    {% endfor %}

<div class="pagination">
    <ul class="pagination justify-content-center">
        {% if paginator.previous_page %}
            <li class="page-item">
                <a href="{{ paginator.previous_page_path }}" class="page-link">Previous</a>
            </li>
        {% endif %}

        {% if paginator.next_page %}
            <li class="page-item">
                <a href="{{ paginator.next_page_path }}" class="page-link">Next</a>
            </li>
        {% endif %}
    </ul>
</div>

</div>
